---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    namespace: openshift-gitops
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 10m
      limit: 15
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
  source:
    repoURL: {{ ocp4_app_platform_roi_gitops_repo }}
    targetRevision: {{ ocp4_app_platform_roi_gitops_repo_tag }}
    path: app-of-apps
    helm:
      valuesObject:
        gitops:
          repoURL: {{ ocp4_app_platform_roi_gitops_repo }}
          targetRevision: {{ ocp4_app_platform_roi_gitops_repo_tag }}

        argocd:
          namespace: openshift-gitops

        cluster:
          subdomain: {{ r_openshift_subdomain }}
          apiServer: {{ r_openshift_api_server }}

        common:
          password: "{{ common_password }}"

        vault:
          name: {{ ocp4_app_platform_roi_vault_name }}
          namespace: {{ ocp4_app_platform_roi_vault_namespace }}
          authNamespace: {{ ocp4_app_platform_roi_vault_auth_namespace }}
          secrets:
            gitlab:
              rootPassword: "{{ ocp4_app_platform_roi_gitlab_config_root_password }}"
            common:
              password: "{{ common_password }}"
            litellm:
              apiUrl: "{{ ocp4_app_platform_roi_litellm_api_url }}"
              apiKey: "{{ ocp4_app_platform_roi_litellm_api_key }}"
            kafka:
              userPassword: "{{ common_password }}"

        externalSecrets:
          name: external-secrets
          namespace: {{ ocp4_app_platform_roi_external_secrets_namespace }}

        openshiftPipelines:
          name: openshift-pipelines
          namespace: {{ ocp4_app_platform_roi_openshift_pipelines_namespace }}

        noobaa:
          enabled: {{ ocp4_app_platform_roi_noobaa_install }}
          name: {{ ocp4_app_platform_roi_noobaa_name }}
          namespace: {{ ocp4_app_platform_roi_noobaa_namespace }}

        gitlab:
          name: {{ ocp4_app_platform_roi_gitlab_gitops_name }}
          namespace: {{ ocp4_app_platform_roi_gitlab_namespace }}
          host: {{ ocp4_app_platform_roi_gitlab_config_host }}
          smtp:
            host: {{ ocp4_app_platform_roi_gitlab_config_smtp_host }}
          ssh:
            host: {{ ocp4_app_platform_roi_gitlab_config_ssh_host }}
          rootPassword: "{{ ocp4_app_platform_roi_gitlab_config_root_password }}"
          usersPassword: "{{ ocp4_app_platform_roi_gitlab_users_password }}"
          cluster:
            subdomain: {{ r_openshift_subdomain }}

        quay:
          name: {{ ocp4_app_platform_roi_quay_application_name }}
          namespace: {{ ocp4_app_platform_roi_quay_namespace }}
          host: {{ ocp4_app_platform_roi_quay_registry_host }}
          adminUser: {{ ocp4_app_platform_roi_quay_admin_user }}
          adminUserPassword: "{{ ocp4_app_platform_roi_quay_admin_user_password }}"
          organizations: {{ ocp4_app_platform_roi_quay_organizations }}
          users: {{ ocp4_app_platform_roi_quay_users | to_json }}

        devspaces:
          enabled: {{ ocp4_app_platform_roi_devspaces_install }}
          name: {{ ocp4_app_platform_roi_devspaces_name }}
          namespace: {{ ocp4_app_platform_roi_devspaces_namespace }}

        amqStreams:
          enabled: true
          name: amq-streams
          namespace: kafka
